<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-heroesdex">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="heroesdex">

    <ion-content>
      <img class="logo" ng-src="/images/logos/logo@2x.png"/>
      <ion-list>
        <ion-item menu-close href="#/app/heroes">
          Heroes
        </ion-item>
        <ion-item menu-close href="#/app/battlegrounds">
          Battlegrounds
        </ion-item>
        <ion-item menu-close href="#/app/news">
          News
        </ion-item>
        <ion-item menu-close href="#/app/configuration">
          Configuration
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
