<ion-view view-title="Configuration">
  <ion-content>
    <ion-list>
      <ion-item>
        Celso Wo
      </ion-item>
      <ion-item>
        Diogo Sonsim
      </ion-item>
      <ion-item>
        Henrique Cansela
      </ion-item>
      <ion-item>
        Larissa Simões
      </ion-item>
      <ion-item>
        Rodrigo Camargo
      </ion-item>
      <ion-item>
        Thiago garotinho
      </ion-item>
      <ion-item>
        Wayne Conceição
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
