<ion-view view-title="{{hero.name}}">
    <ion-pane>
      <ion-tabs class="tabs-top">
        <ion-tab title="Info" >
            <ion-nav-view name="info">
              <ion-content>
                <div ng-include="'templates/heroes/heroes-detail-info.html'">
                </div>
              </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Abilities" >
            <ion-nav-view name="tab-tab2">
                <ion-content>
                  <div ng-include="'templates/heroes/heroes-detail-abilities.html'">
                  </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Talents" >
            <ion-nav-view name="tab-tab2">
                <ion-content>
                  <div ng-include="'templates/heroes/heroes-detail-talents.html'">
                  </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Builds" >
            <ion-nav-view name="tab-tab2">
                <ion-content>
                  <div ng-include="'templates/heroes/heroes-detail-builds.html'">
                  </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
      </ion-tabs>

    </ion-pane>
</ion-view>
