<ion-view view-title="{{viewTitle}}">
    <ion-pane>
      <ion-tabs class="tabs-top">
        <ion-tab title="Lvl 1" >
            <ion-nav-view name="tab-tab2">
              <ion-content>
                <div ng-include="'templates/heroes/talents/talent-description'">
                </div>
              </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Lvl 4" >
            <ion-nav-view name="tab-tab2">
                <ion-content>
                  <div ng-include="'templates/heroes/talents/talent-description'">
                  </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Lvl 7" >
            <ion-nav-view name="tab-tab2">
                <ion-content>
                  <div ng-include="'templates/heroes/talents/talent-description'">
                  </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="Lvl 10" >
            <ion-nav-view name="tab-tab2">
                <ion-content>
                  <div ng-include="'templates/heroes/talents/talent-description'">
                  </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        <ion-tab title="Lvl 13" >
            <ion-nav-view name="tab-tab2">
                <ion-content>
                  <div ng-include="'templates/heroes/talents/talent-description'">
                  </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        <ion-tab title="Lvl 16" >
            <ion-nav-view name="tab-tab2">
                <ion-content>
                  <div ng-include="'templates/heroes/talents/talent-description'">
                  </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>
        <ion-tab title="Lvl 20" >
            <ion-nav-view name="tab-tab2">
                <ion-content>
                  <div ng-include="'templates/heroes/talents/talent-description'">
                  </div>
                </ion-content>
            </ion-nav-view>
        </ion-tab>      </ion-tabs>

    </ion-pane>
</ion-view>
