<ion-view view-title="Heroes">
  <ion-content>
    <ion-list>
      <ion-item class="item hero"
                collection-repeat="hero in heroes track by $index"
                href="#/app/heroes/{{$index}}">
        <img ng-src="{{hero.busts}}" class="busts {{hero.slug}}"/>
        <div class="hero-container">
          <h1>{{hero.name}}</h1>
          <h2>{{hero.title}}</h2>
          <span class="heroes-icons">
            <i class="heroes-icon-role-{{hero.role.slug}} checked"></i>
            <i class="heroes-icon-universe-{{hero.franchise}} checked"></i>
          </span>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
