.item.battleground {
  padding: 0;
  border-color: #090119;
  height: 150px;
  background-color: #090119;
}

.item.battleground .battleground-container h1{
  margin-left: 2%;
  font-family: 'Metronic';
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 1.2em;
  text-shadow: rgb(0, 156, 255) 0px 0px 16px;
  position: absolute;
  margin-top: -53%;

}
