/* Empty. Add your own CSS if you like */

@font-face {
    font-family: Metronic;
    src: url(../fonts/MetronicforBlizzard-Bold.ttf) format("truetype");
    font-weight: 700;
    color: #fff;
    font-style: normal
}

@font-face {
    font-family: Metronic;
    src: url(../fonts/MetronicforBlizzard.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
  font-family: heroes-icon;
  src: url(../fonts/heroes.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}

[class*=" heroes-icon-"],[class^=heroes-icon-] {
  font-family: heroes-icon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heroes-icon-universe-warcraft:before {
  content: "\e600";
}

.heroes-icon-universe-starcraft:before {
  content: "\e601";
}

.heroes-icon-universe-diablo:before {
  content: "\e602";
}

.heroes-icon-universe-retro:before {
  content: "\e607";
}

.heroes-icon-role-warrior:before {
  content: "\e603";
}

.heroes-icon-role-support:before {
  content: "\e604";
}

.heroes-icon-role-specialist:before {
  content: "\e605";
}

.heroes-icon-role-assassin:before {
  content: "\e606";
}

.heroes-icon-role-warrior.checked,.heroes-icon-universe-starcraft.checked {
  opacity: 1;
  color: #4ca0ff;
  font-smoothing: antialiased;
  font-size: 30px;
}

.heroes-icon-role-assassin.checked,.heroes-icon-universe-diablo.checked {
  opacity: 1;
  color: #ff8da3;
  font-smoothing: antialiased;
  font-size: 30px;
}

.heroes-icon-role-support.checked {
  opacity: 1;
  color: #02e9d9;
  font-smoothing: antialiased;
  font-size: 30px;
}

.heroes-icon-role-specialist.checked {
  opacity: 1;
  color: #c571ff;
  font-smoothing: antialiased;
  font-size: 30px;
}

.heroes-icon-universe-warcraft.checked {
  opacity: 1;
  color: #ffe0a4;
  font-smoothing: antialiased;
  font-size: 30px;
}

.heroes-icon-universe-retro.checked {
  opacity: 1;
  color: #06acf9;
  font-smoothing: antialiased;
  font-size: 30px;
}

.item.hero {
  padding: 0;
  border-color: #090119;
  height: 100px;
  background-color: #090119;
}
  .item.hero img {
    margin-top: -22px;
    margin-left: -7%;
  }

  .item.hero .hero-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 27%;
    height: 100px;
    padding-top: 10px;
    background: linear-gradient(to right, rgba(0,0,0,0) 0, RGBA(9, 1, 25, 1) 80px);
  }
    .item.hero .item-content {
      padding: 0;
    }

    .item.hero .hero-container h1 {
      margin-left: 25%;
      font-family: 'Metronic';
      text-transform: uppercase;
      font-weight: 700;
      color: white;
      font-size: 1.2em;
      text-shadow: rgb(0, 156, 255) 0px 0px 16px;
    }

    .item.hero .hero-container h2 {
      margin-left: 25%;
      font-family: 'Metronic';
      text-transform: uppercase;
      font-weight: 400;
      color: #8eb1bc;
      font-size: 0.7em;
    }

    .item.hero .hero-container .heroes-icons {
      margin-left: 25%;
    }

    .item.hero .busts.the-lost-vikings {
      margin-top: -54px;
    }

    .item.hero .busts.lili {
      margin-top: -100px;
    }

    .item.hero .busts.murky,
    .item.hero .busts.brightwing,
    .item.hero .busts.abathur,
    .item.hero .busts.anubarak,
    .item.hero .busts.muradin,
    .item.hero .busts.nazeebo,
    .item.hero .busts.zeratul {
      margin-top: -85px;
    }

.hero-slide-box {
  background-color: #090119;
}

.hero-slide {
  width: 100%;
  overflow: hidden;
}

  .hero-slide img {
    margin-left: -40%;
    width: 140%;
    /* height: 194px; */
  }

  .hero-slide .hero-slide-content {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 10px;
  }

    .hero-slide .hero-slide-content  h1 {
       font-family: 'Metronic';
       text-transform: uppercase;
       font-weight: 400;
       color: white;
       font-size: 14pt;
     }

    .hero-slide .hero-slide-content  h2 {
      font-family: 'Metronic';
      text-transform: uppercase;
      font-weight: 400;
      color: #6cf;
      font-size: 10pt;
    }
