/* Empty. Add your own CSS if you like */

@font-face {
    font-family: Metronic;
    src: url(../fonts/MetronicforBlizzard-Bold.ttf) format("truetype");
    font-weight: 700;
    color: #fff;
    font-style: normal
}

@font-face {
    font-family: Metronic;
    src: url(../fonts/MetronicforBlizzard.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.item.hero {
  padding: 0;
  border-color: #090119;
  height: 100px;
  background-color: #090119;
}
  .item.hero img {
    margin-top: -22px;
    margin-left: -5%;
  }

  .item.hero .hero-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 50%;
    padding-top: 10px;
    background: linear-gradient(to right, rgba(255,0,0,0) 35%, RGBA(9, 1, 25, 1) 50%);
  }
    .item.hero .item-content {
      padding: 0;
    }

    .item.hero .hero-container h1 {
      font-family: 'Metronic';
      text-transform: uppercase;
      font-weight: 700;
      color: white;
      font-size: 16pt;
      text-shadow: rgb(0, 156, 255) 0px 0px 16px;
    }

    .item.hero .hero-container h2 {
      font-family: 'Metronic';
      text-transform: uppercase;
      font-weight: 400;
      color: #8eb1bc;
      font-size: 8pt;
    }

    .item.hero .busts.the-lost-vikings {
      margin-top: -54px;
    }

    .item.hero .busts.lili {
      margin-top: -100px;
    }

    .item.hero .busts.murky,
    .item.hero .busts.brightwing,
    .item.hero .busts.abathur,
    .item.hero .busts.anubarak,
    .item.hero .busts.muradin,
    .item.hero .busts.nazeebo,
    .item.hero .busts.zeratul {
      margin-top: -85px;
    }

.hero-slide-box {
  background-color: #090119;
}

.hero-slide {
  width: 100%;
  overflow: hidden;
}

  .hero-slide img {
    margin-left: -40%;
    width: 140%;
    /* height: 194px; */
  }

  .hero-slide .hero-slide-content {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 10px;
  }

    .hero-slide .hero-slide-content  h1 {
       font-family: 'Metronic';
       text-transform: uppercase;
       font-weight: 400;
       color: white;
       font-size: 14pt;
     }

    .hero-slide .hero-slide-content  h2 {
      font-family: 'Metronic';
      text-transform: uppercase;
      font-weight: 400;
      color: #6cf;
      font-size: 10pt;
    }
